<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE_LOG" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p] %m%n" /> -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%t] %m%n" />
		</layout>
	</appender>

	<appender name="BATCH_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="/WEB-INF/logs/server1_batch.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%t] %m%n" />
		</layout>
	</appender>

	<appender name="SQL_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="/WEB-INF/logs/server1_sql.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%t] %m%n" />
		</layout>
	</appender>

	<!-- ===================================== -->
	<!-- log4jdbc settings -->
	<!-- ===================================== -->
	<!-- development production -->
	<!-- jdbc.connection : WARN WARN -->
	<!-- jdbc.audit : WARN WARN -->
	<!-- jdbc.sqlonly : WARN WARN -->
	<!-- jdbc.sqltiming : INFO WARN -->
	<!-- jdbc.resultset : WARN WARN -->
	<!-- jdbc.resultsettable : INFO WARN -->

	<logger name="jdbc.connection" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<logger name="jdbc.audit" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<logger name="jdbc.sqlonly" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<logger name="jdbc.sqltiming" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<logger name="jdbc.resultset" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<logger name="jdbc.resultsettable" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>

	<!-- 기본 출력 설정 -->
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE_LOG" />
		<!-- <appender-ref ref="BATCH_LOG" /> -->
		<!-- <appender-ref ref="SQL_LOG" /> -->
	</root>

</log4j:configuration>
